@use "vars" as *;

@use "mixins" as *;

header {
  position: relative;
  overflow: hidden;
  padding-bottom: 15rem;
  @include sm-and-down {
    padding-bottom: 3rem;
  }
  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 23.5rem;
    top: 0;
    right: 0;
    background-color: $blue-1;
    border-bottom-left-radius: 60px;
    z-index: -1;
  }
}

@keyframes show-illustration {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
