// colors
$blue-4: hsl(230, 29%, 20%);
$blue-3: hsl(230, 11%, 40%);
$blue-2: hsl(231, 7%, 65%);
$blue-1: hsl(207, 33%, 95%);
$red: hsl(0, 100%, 68%);

// transition
$transition-timing: 0.2s ease-out;

// typo
$ff-1: "Barlow", sans-serif;
$ff-2: "Barlow Condensed", sans-serif;

// container
$container-padding: 32px;
